body{
    margin: 0;
}

button{
    padding: 10px;
    border-radius: 8px;
    border: none;
    font-size: 16px;
    background-color: #009879;
    color: #fff;
    transition: 0.2s linear;
    margin: 5px 0 5px 0;
}
button:hover{
    cursor: pointer;
    background-color: #0bbb97;
}

input[type=text], input[type=number] {
    padding: 10px;
    font-size: 16px;
    border-radius: 8px;
    margin: 5px 0 5px 0;
}
input[type=checkbox] {
    zoom: 1.5;
}

.tabela {
    border-collapse: collapse;
    margin: 25px 0;
    font-size: 0.9em;
    font-family: sans-serif;
    min-width: 400px;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.15);
}


.tabela{
    background-color: #009879;
    color: gray;
    text-align: left;
}

.tabela th,
.tabela td {
    padding: 12px 15px;
}
.tabela th{
    color: #ffffff;
}
.tabela tbody tr {
    border-bottom: 1px solid #dddddd;
}

.tabela tbody tr{
    background-color: #f3f3f3;
}

.tabela tbody tr:last-of-type {
    border-bottom: 2px solid #009879;
}

.tabela tbody tr.active-row {
    font-weight: bold;
    color: #009879;
}